<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="/assets/slides/mobile-slide.jpg" style="width:100%;height:auto;" alt="{{ mainDoctor }}">
    </a>
</div>

<!-- Slider
============================================= -->
<div id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide1" style="background: url('assets/slides/slide1.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <img src="/assets/slides/slide1-text.svg" alt="Downtown Raleighs Trusted Source of Dental Excellence. Now Welcoming New Patients!" class="slide1-svg-text">
                        <div class="flex-wrapper">
                            
                            <a href="#" class="btn btn--style-two btn-slide-one" data-offset="98" data-scrollto="#section-specials">New Patient Offers</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide2" style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left">
                        <img src="/assets/slides/slide2-text.svg" alt="Dr. Arrick and the team Smiles at Glenwood is Awesome and simply the nest for my family. -Anna R." class="slide__image">

                        <div class="flex-wrapper">
                            <a href="#" class="btn btn--style-two btn-slide-two" data-offset="98" data-scrollto="#section-reviews">Read More Reviews</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3" style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix slide-content">
                    <div class="slider-caption slider-caption-left">
                        <img src="/assets/slides/slide3-text.svg" alt="No Insurance? Our Patients Don't Need It! Get your preventive care for a low monthly fee." class="slide__image">

                            <h5 class="text-byline">Join the Smiles At Glenwood Membership Club and<br>get your preventive care for a low monthly fee</h5>
                        <div class="flex-wrapper">
                            <a href="#" class="btn btn--style-two btn-slide-three" data-offset="98" data-scrollto="#section-insurance">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

 {% include 'atoms/down-arrow.twig' %} 