<section id="section-services">
    <div class="container">

        <h2 class="services__heading center">Our Services</h2>
        <p class="services__byline center">Select a link below to learn more about our services</p>

        {# ======= Smile Makeovers &  Implant Dentistry ======= #}

            <div class="col-xs-12 col-md-9 card">
                <img src="/assets/services/makeover.jpg" alt="Smile Makeover Image" class="hidden-xs card__image--fix">
                <img src="/assets/services/makeover-mobile.jpg" alt="Smile Makeover Image" class="hidden-sm hidden-md hidden-lg">
                <div class="card__text hidden-xs col-sm-6 col-sm-offset-5">
                    <h3 class="feature__title">Smile Makeovers</h3>
                    <p class="white">Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful, bright, healthy smile will increase self-confidence and overall life satisfaction. Cosmetic dentistry includes things like tooth-colored restorations, dental implants, and crowns. We have many options, so please call us today!</p>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <h3 class="col-xs-12 purple-title hidden-md hidden-lg">Smile Makeovers</h3>
                <p class="col-xs-12 xs-text-beneath">Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful, bright, healthy smile will increase self-confidence and overall life satisfaction. Cosmetic dentistry includes things like tooth-colored restorations, dental implants, and crowns. We have many options, so please call us today!</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--implant" data-toggle="modal"><img src="/assets/services/implant.jpg" alt="implant" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Implant<br>Dentistry</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

        {# ======= Row # 2 - Veneers & Sleep Apnea ======= #}
            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--veneers" data-toggle="modal"><img src="/assets/services/veneers.jpg" alt="Veneers" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Veneers</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-9 card">
                <img src="/assets/services/apnea.jpg" alt="apnea" class="hidden-xs card__image--fix">
                <img src="/assets/services/apnea-mobile.jpg" alt="apnea"  class="hidden-sm hidden-md hidden-lg">
                <div class="card__text hidden-xs col-sm-6 col-sm-offset-5">
                    <h3 class="feature__title hidden-sm">Sleep Apnea Treatment</h3>
                    <h3 class="feature__title visible-sm">Sleep Apnea</h3>
                    <p class="white">Obstructive sleep apnea occurs when the airway completely collapses, blocking airflow into the lungs. The harder one tries to breathe, the tighter the airway seals. This airway obstruction persists until the brain partially awakens the person, unconsciously closing the jaw and returning the tongue and throat to a normal position.</p>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <h3 class="col-xs-12 purple-title hidden-md hidden-lg">Sleep Apnea Treatment</h3>
                <p class="col-xs-12 xs-text-beneath">Obstructive sleep apnea occurs when the airway completely collapses, blocking airflow into the lungs. The harder one tries to breathe, the tighter the airway seals. This airway obstruction persists until the brain partially awakens the person, unconsciously closing the jaw and returning the tongue and throat to a normal position.</p>
            </div>

            {# ======= Row # 3 ======= #}

            <div class="col-xs-12 col-md-6 card">
                <img src="/assets/services/invisalign.jpg" alt="Invisalign Image" class="hidden-xs card__image--fix">
                <img src="/assets/services/invisalign-mobile.jpg" alt="Smile Makeover Image" class="hidden-sm hidden-md hidden-lg">
                <div class="card__text hidden-xs col-sm-5">
                    <h3 class="feature__title">Invisalign®<br>Orthodontics</h3>
                    <p class="invisalign">These “invisible” aligners are the latest in orthodontic technology for adults and teens. Get the smile you've always wanted with Invisalign® Orthodontics.</p>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <h3 class="col-xs-12 purple-title hidden-md hidden-lg">Invisalign®<br>Orthodontics</h3>
                <p class="col-xs-12 xs-text-beneath">These “invisible” aligners are the latest in orthodontic technology for adults and teens. Get the smile you've always wanted with Invisalign® Orthodontics.</p>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--crowns" data-toggle="modal"><img src="/assets/services/crowns.jpg" alt="Crowns" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Crowns</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--family" data-toggle="modal"><img src="/assets/services/family.jpg" alt="Care for the Whole Family" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Care for the<br>Whole Family</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

        {# ======= Row # 4 ======= #}

            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--whitening" data-toggle="modal"><img src="/assets/services/whitening.jpg" alt="Smile Whitening" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Smile<br>Whitening</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--digital-xrays" data-toggle="modal"><img src="/assets/services/digital-xrays.jpg" alt="Digital X-Rays" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Digital X-rays</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--root-canals" data-toggle="modal"><img src="/assets/services/root-canals.jpg" alt="Root Canals" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Root Canals</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 card" data-target="#modal--surgery" data-toggle="modal"><img src="/assets/services/surgery.jpg" alt="Oral Surgery" class="card__image">
                <div class="card__text">
                    <h5 class="card__title">Oral Surgery</h5>
                    <p class="card__link">Learn More</p>
                </div>
            </div>

    {% include 'molecules/services__modals.twig' %}

    </div>

</section>
