#section-care-credit-slab {
  background-color: rgba(171, 156, 251, 0.3);
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;

  .care-credit-slab {
    &__title {
      margin-bottom: 0;
    }

    &__copy {
      margin-bottom: 0;
      font-style: italic;
      font-weight: 700;
      font-family: $ff-unna;
    }

    &__logo {
      margin: 15px;
    }

    &__btn {
      margin: 15px;
      padding: 10px 70px;
      // border: solid 2px #48c6da;
    }
  }
}
