/// Call to Action Two to One Layout
.cta {
  position: relative;
  z-index: 100;
  background-color: #6c54a3;
  background-position: center;
  padding: 0 0 15px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  @media (min-width: 768px) {
    padding: 15px 0;
  }

  &--background-two {
    background-color: #e4f3e9;
  }

  &--no-border {
    border: none;
  }

  .flex-wrapper {
    // padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      .vertical-break {
        width: 2px;
        height: 60px;
        background-color: #565656;
      }
    }

    .cta__new {
      order: -2;
    }

    .cta__btn {
      order: 2;
    }

    &__item {
      padding: 5px 0;
      width: 100%;

      @media screen and (min-width: 768px) {
        padding: 0 15px;
        width: 49%;

        &.cta__btn,
        &.cta__new {
          order: 0;
        }

        &:first-child {
          text-align: right;
        }

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  &__new {
    &-text {
      font-family: $ff-lato;
      color: #fff;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 1;
      padding-top: 5px;

      @include font-size(24px, 23px, 23px, 21px, 21px);
    }

    &-number {
      color: #fff;
      font-family: $ff-mont;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0;
      padding: 5px 0 0;

      @media (min-width: 768px) {
        padding: 5px 0 10px;
      }

      @include font-size(33px, 32px, 32px, 30px, 30px);

      a {
        @include link-color(#fff);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__existing-patient {
    color: #fff;
    line-height: 1.1 !important;
    margin-bottom: 0;

    @include font-size(18px, 18px, 16px, 16px, 16px);

    @media (max-width: 992px) {
      text-align: center;
    }

    .phone-number--existing {
      @include link-color(#fff);
      @include font-size(18px, 18px, 16px, 16px, 16px);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

