.location-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //background: $c-white;
  //margin: 30px 0;
  // padding-top: 30px;
  //padding-bottom: 30px;

  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0;
    padding-right: 0;
  }

  &__logo {
    &--wrapper {
      //background-color: #323437;
      text-align: center;
      // padding-top: 90px;
      padding-bottom: 5px;

      @media (max-width: $width-md) {
        background: none;
      }
    }

    margin-bottom: 15px;
    max-width: 100%;

    @media (min-width: 480px) {
      max-width: 325px;
    }
  }

  &__content {
    text-align: center;
  }

  &__doctor {
    color: #6c54a3;
    margin-bottom: 5px;

    @include font-size(24px, 21px, 21px, 24px, 23px);

    &--title {
      color: #6c54a3 !important;
    }
  }

  &__address {
    color: #7a7780;
    font-size: 18px;
    margin: 0;
    font-family: $ff-mont;
    font-weight: 400;
  }

  &__map-link {
    color: #e85382;
    text-decoration: underline;
    font-size: 16px;
    // letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: $ff-lato;
    font-weight: 400;
  }

  &__new-patient-text {
    color: #6c54a3;
    margin-bottom: 0;
    line-height: 1;
    font-family: $ff-mont;
    letter-spacing: -0.97px;

    @include font-size(24px, 24px, 24px, 24px, 23px);
  }

  &__new-patient-number {
    display: block;
    font-weight: 900;
    color: #2e2e2e;
    font-family: $ff-mont;
    line-height: 1;

    @include font-size(33px, 33px, 33px, 33px, 32px);

    &:hover {
      color: #2e2e2e;
      text-decoration: none;
    }
  }

  &__existing-patient-text {
    color: #7a7780;
    margin-top: 10px;
    line-height: 1;
    font-family: $ff-mont;

    @include font-size(18px, 18px, 17px, 16px, 16px);
  }

  &__existing-patient-number {
    color: #7a7780;
    font-family: $ff-mont;

    @include font-size(18px, 18px, 17px, 16px, 16px);

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  &__welcoming-patients {
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.93px;
  }

  &-btn {
    margin-top: 0;
  }

  .hours-table {
    padding: 15px 0;

    h5 {
      line-height: 1;
      margin-bottom: 5px;
      font-size: 24px;
      color: #6c54a3;
      font-family: $ff-lato;
    }

    p {
      color: #7a7780;
      line-height: 1;
      margin: 0 auto;
      font-family: $ff-lato;
      font-size: 18px;
    }
  }
}
