<section id="section-dentures">
    <div class="flexbox-wrapper">
        <div class="container">
            <div class="hidden-sm hidden-md hidden-lg">
                <h2 class="title title--mobile center">Cosmetic<br>Dentures</h2>
                <div class="row">
                    <img src="/assets/dentures-mobile.jpg" alt="{{ mainDoctor }}'s happy patients" class="mobile-dentures">
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-sm-push-6">
                <h2 class="title allow-orphan">Cosmetic Dentures</h2>
                <p class="dentures__copy">
                    <span class="denturesPink">Do you wear dentures or have a mouthful of missing or failing teeth?</span>
                 Eat what you want again, smile, laugh, and look and feel years younger with our implant-supported dentures.</p>
                <p class="dentures__copy dentures__copy--last">
                    <span class="denturesPink">A well-made denture</span> is not only comfortable and functions properly; it also allows the wearer to smile with confidence, knowing that their smile is no different than it would be with natural teeth. Creating a cosmetic denture is really an art in the hands of a skilled dentist like Dr. Candice Arrick.</p>
                <a class="btn btn--style-two dentures-btn" href="{{ denturesLink }}" target="_blank">Learn More</a>
            </div>
            <div class="center hidden-sm hidden-md hidden-lg">
                 <p class="dentures__copy">
                    <span class="denturesPink">Do you wear dentures or have a mouthful of missing or failing teeth?</span>
                 Eat what you want again, smile, laugh, and look and feel years younger with our implant-supported dentures.</p>
                <p class="dentures__copy dentures__copy--last">
                    <span class="denturesPink">A well-made denture</span> is not only comfortable and functions properly; it also allows the wearer to smile with confidence, knowing that their smile is no different than it would be with natural teeth. Creating a cosmetic denture is really an art in the hands of a skilled dentist like Dr. Candice Arrick.</p>
                <a class="btn btn--style-two dentures-btn"  href="{{ denturesLink }}" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <img src="/assets/dentures.jpg" alt="{{ mainDoctor }}'s happy patients" class="dentures__image hidden-xs">
</section>
