#section-about {
  .heading {
    padding: 15px 0;

    &__title {
      margin-bottom: 0;
    }
  }

  .main {
    &__title {
      font-weight: 700;
      font-family: $ff-unna;
      font-style: italic;
      color: #313542;
      margin: 15px 0 5px;

      @include font-size(32px, 30px, 30px, 30px, 28px);

      &-aboutDDS {
        color: #313542;
        font-style: italic;

        @include font-size(28px, 26px, 26px, 26px, 24px);
      }
    }

    &__copy {
      color: #7a7780;
      font-size: 20px;
      font-family: $ff-unna;
    }
  }

  .associations-carousel {
    padding-bottom: 45px;
  }
}
