#section-insurance {
  $c-no-insurance: #6c54a3;
  $c-sub-header: #e85382;
  $c-preventative: #ea5034;
  $c-copy: #000;
  $c-mobile-bg: rgba(171, 156, 251, 0.3);

  background-color: rgba(171, 156, 251, 0.3);
  position: relative;

  .title {
    letter-spacing: 3px;
    // padding-top: 30px;
    margin-bottom: 0;
    line-height: 1;
    color: $c-no-insurance;
    font-weight: 900;
    // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    @include font-size(85px, 70px, 50px, 50px, 33px);

    &--mobile {
      padding-top: 20px;
    }
  }

  .sub-title {
    font-weight: 700;
    color: $c-sub-header;
    margin-bottom: 0;
    font-family: $ff-unna;
    padding: 10px 0;
    line-height: 1;
    font-style: italic;

    @include font-size(57px, 46px, 34px, 30px, 20px);
  }

  .insurance__copy {
    color: $c-copy;
    line-height: 1.1;

    @include font-size(28px, 22px, 17px, 16px, 14px);

    @media (min-width: 768px) {
      text-align: left;
      padding-top: 0;

      &--last {
        margin-bottom: 0;
      }
    }
  }

  .membershipClub {
    color: #e85382;
    font-weight: 700;
  }

  .insurance__image {
    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .insurance-btn {
    background-color: #6c54a3;
    color: #fff;
    padding: 10px 70px;
    margin-bottom: 20px;
    margin-top: 0;

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }

  .mobile-insurance {
    padding: 20px;
  }

  .flexbox-wrapper {
    text-align: left;

    @media (min-width: 768px) {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
