#section-services {
  text-align: left;
  padding-bottom: 30px;

  .services {
    &__heading {
      margin-bottom: 0;
      margin-top: 25px;
    }

    &__byline {
      color: #898989;
      font-style: italic;
      font-weight: 700;
      font-family: $ff-unna;
    }
  }

  .purple-title {
    color: #6c54a3;
    font-weight: 900;
    font-family: $ff-mont;
    font-size: 27px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: -15px;
  }

  .xs-text-beneath {
    padding-bottom: 15px;
    color: #888d91;
    font-family: $ff-unna;
    line-height: 1;
    font-size: 18px;

    @media (min-width: 768px) {
      height: 280px;
    }
  }

  .white {
    color: #fff;
    line-height: 1.1;
    padding-top: 7px;
    margin-bottom: 10px;
    font-family: $ff-unna;

    @media (min-width: 1200px) {
      margin-bottom: 50px;
    }

    @include font-size(18px, 17px, 17px, 40px, 30px);
  }

  .invisalign {
    color: #fff;
    line-height: 1.1;
    padding-top: 7px;
    margin-bottom: 10px;
    font-family: $ff-unna;

    @media (min-width: 767px) {
      margin-bottom: 100px;
    }

    @media (min-width: 992px) {
      margin-bottom: 10px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 50px;
    }

    @include font-size(18px, 17px, 17px, 40px, 30px);
  }

  .card__text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 30px;
    padding: 10px 0;
  }

  .feature__title {
    color: #fff;
    font-family: $ff-mont;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
    // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    @include font-size(28px, 26px, 28px, 40px, 30px);
  }

  .card {
    margin-bottom: 30px;

    &__title {
      color: #fff;
      font-family: $ff-mont;
      line-height: 1;
      margin-bottom: 0;
      font-weight: 900;
      // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      @include font-size(30px, 24px, 28px, 28px, 27px);
    }
  }

  .card__link {
    text-decoration: underline !important;
    font-weight: 700;
    color: #decfff;
    margin-bottom: 0;
    font-size: 18px;
    font-style: italic;
    font-family: $ff-unna;

    // @include font-size(17px, 16px, 14px, 15px, 14px);
  }

  .card__image--fix {
    @media screen and (min-width: 992px) {
      height: 205px;
    }

    @media screen and (min-width: 1200px) {
      height: 255px;
    }
  }
}
