<!DOCTYPE html>
<html dir="ltr" lang="en-US">

{% include '/organisms/head.twig' %}

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    {% include 'organisms/header.twig' with
    {
    "transparent": false
    }
    %}

    {# {% include 'organisms/marquee.twig' %} #}

    <!-- Content
  ============================================= -->
  <div id="content" >

        {# {% include 'molecules/cta__two-to-one.twig' with {
            id: 'cta-one',
            existingPatients: 'true'
         } %}

        {% include 'organisms/about.twig' %} #}

        {# {% include 'organisms/specials--three-card.twig' %}

        {% include 'molecules/cta__two-to-one.twig' with {
            id: 'cta-two'
        } %}

        {% include 'organisms/insurance.twig' %} #}

        {# {% include 'organisms/services.twig' %} #}

        {% include 'molecules/dentures.twig' %}

        <div class="cta " id="cta-three">
            <div class="container center">
                <div class="flex-wrapper">
                    <div class="cta__btn flex-wrapper__item">
                        <a href="#" class="btn btn cta-btn" data-target="#requestAppointmentForm" data-toggle="modal">Request an Appointment</a>
                    </div>
                    <div class="cta__new flex-wrapper__item">
                        <h5 class="cta__new-text allow-orphan">New Patient Hotline</h5>
                        <h2 class="cta__new-number allow-orphan">
                            <a href="tel:+18889185426" class="phone-number phone-number--new">(888)&nbsp;918-5426</a></h2>
                    </div>
                </div>
                <p class="cta__existing-patient hidden-sm hidden-md hidden-lg">Existing Patients Call:<br> <a href="tel:+19198338100" class="phone-number phone-number--existing">(919)&nbsp;833-8100</a></p>
                <p class="cta__existing-patient hidden-xs">Existing Patients Call:  <a href="tel:+19198338100" class="phone-number phone-number--existing">(919)&nbsp;833-8100</a></p>
            </div>
        </div>

        {% include 'organisms/reviews.twig' %}

        {% include 'organisms/forms.twig' %}

        {% include 'organisms/location.twig' %}

        {% include 'molecules/slab__care-credit.twig' %}

    </div>

    <!-- Modals
    ============================================= -->
    {% include 'organisms/request-modal.twig' %}

    <!-- Footer
    ============================================= -->
    {% include 'organisms/footer.twig' %}

</div><!-- #wrapper end -->

{% include 'organisms/foot.twig' %}

</body>
</html>